@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

#postContent h2 {
  @apply text-rose-500 tracking-wide
}

#postContent h3 {
  @apply text-violet-500
}

.linear-blue {
  @apply bg-gradient-to-r from-sky-500 to-cyan-500 bg-clip-text text-transparent;
}

.services-violet {
  @apply bg-gradient-to-l from-violet-600 to-violet-500 text-violet-100;
}

.about-services-violet {
  @apply bg-gradient-to-r from-violet-600 to-25% text-violet-100;
}

.services-rose {
  @apply bg-gradient-to-l from-rose-600 to-rose-500 text-rose-100;
}

.about-services-rose {
  @apply bg-gradient-to-r from-rose-600 to-50% text-rose-100;
}

.services-blue {
  @apply bg-gradient-to-l from-blue-600 to-blue-500 text-blue-100;
}

.about-services-blue {
  @apply bg-gradient-to-r from-blue-600 to-50% text-blue-100;
}

.linear-green {
  @apply bg-gradient-to-r from-green-600 to-lime-600;
}

.linear-button {
  @apply bg-gradient-to-r from-sky-500 to-cyan-400 hover:bg-gradient-to-l;
}

.page-title {
  @apply text-3xl font-bold leading-9 tracking-tight text-slate-700 dark:text-gray-100 sm:text-3xl sm:leading-10 md:text-5xl md:leading-14;
}

.hover-moveup {
  @apply transition-all duration-700 ease-in-out;
}

.card-wrapper {
  @apply border border-slate-300 bg-light-card-bg dark:border-slate-700 dark:bg-wrapper-dark;
}

.line-bottom::before {
  height: 3px;
  content: '';
  background-color: #0ea5ea;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.line-bottom-right::before {
  height: 3px;
  content: '';
  background-color: #0ea5ea;
  position: absolute;
  bottom: -8px;
  right: 0;
}

.light-border {
  @apply outline outline-2 outline-slate-400 dark:outline-0;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
