@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.linear-blue {
  @apply bg-gradient-to-r from-sky-500 to-cyan-500 dark:to-cyan-400 bg-clip-text text-transparent;
}

.linear-green {
  @apply bg-gradient-to-r from-green-600 to-lime-600;
}

.linear-button {
  @apply bg-gradient-to-r from-sky-500 to-cyan-500 dark:to-cyan-400;
}

.page-title {
  @apply text-3xl font-bold leading-9 tracking-tight text-slate-700 dark:text-gray-100 sm:text-3xl sm:leading-10 md:text-5xl md:leading-14;
}

.hover-moveup {
  @apply transition-all ease-in-out duration-700;
}

.card-wrapper {
  @apply border border-slate-300 bg-light-card-bg dark:border-gray-800 dark:bg-wrapper-dark;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
